/* general styles */

*{
    box-sizing: border-box;
    /* primary */
    --prm-clr-cyan: hsl(193, 20%, 81%);
    --prm-clr-green: hsl(150, 100%, 66%);

    /* neutral */
    --clr-grayish-blue: hsl(217, 19%, 38%);
    --clr-dark-grayish-blue: hsl(217, 19%, 24%);
    --clr-blue: hsl(218, 23%, 16%);

}


body{
    background:var(--clr-blue);
    font-size: 1.3rem;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    display: flex;

}

img{
    max-width: 100%;
}

/* layout */

main{
    background: var(--clr-dark-grayish-blue);
    padding: 2em 1em;
    border-radius: 15px;
    position: relative;
    width: 80vw; 
    display: flex;
    justify-content: center;
    margin: auto;
}
.container{
    max-width: 450px;
    text-align: center;
    display: flex;
    
}

.advice-container p{
    color: var(--prm-clr-green);
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;

}

.advice-container h3{
    color: var(--prm-clr-cyan);
    font-weight: 800;
}

.advice-container img{
    color: var(--prm-clr-cyan);
}

.btn{
    position: absolute;
    bottom: -50px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    background: var(--prm-clr-green);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover{
    box-shadow: var(--prm-clr-green) 0px 7px 29px 0px;;
}


@media (min-width: 375px){
    main{
        width: 500px;
    }
}

@media (max-width:370px){
    main{
        width: 100%;
    }
}